* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main-nav.show {
  transform: translateY(10px);
}
.goDown {
  margin-bottom: 400px !important;
}
