* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  background: #f2f2f2;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
